*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "quasimoda", sans-serif;
}
a{
    color: none;
    text-decoration: none;
}
@font-face {
    font-family: 'largest';
    src: url('../assets/Largest.ttf');
    font-weight: normal;
    font-style: normal;
    }
/*Cursor*/

:root {
    --blue: #01266c;
    --gold: #f7c505;
    --yellow: #fbdc74;
    --skyblue: #0071fb;
    --black: #1a1a1a;
  }
  .fondo{
    background-image: url(../assets/img/fondo1.png);
    background-size: cover;
}
  
  .cursor {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: #c260487d;
    // mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    pointer-events: none;
  }
  
  
  /*Portada*/
  

.portada{
    background-image: url(../assets/img/portada1.png);
    background-size: cover;
    height: 100vh;
    padding-top: 2rem;
}
/*Menu*/
.menu{
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    max-width: 1320px;
    border: solid 1px;
    border-radius: 10rem;
    margin: auto;
   
}
.menu-item a{
    text-decoration: none;
    font-weight: 400;
}
.inicio{
    border-bottom: #C26148 solid 2px;
    padding: 0.2rem 0;
}
.inicioa{
    color: #C26148;
}
.comunidad{
    color: black;
}
.menu-item img{
    width: 12%;
}
.menu-itemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}

/*Novedades*/


.novedades{
    padding:8rem 0rem;
}
.novedades_title{
    font-family: 'largest';
    transform: rotate(-10deg);
    background-color: rgb(219, 101, 10);
    margin-left: 6rem;
    display: inline-block;
    padding:.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}
.novedades_carousel{
    margin: auto;
    height: 70vh;
    width: 80%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: solid 1px;
}
/*Playlist*/

.spotify_section{
    display: flex;
}

.spotify_div{
    width: 50%;
    padding: 3rem;

}
.spotify_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.spoty_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.spotify_p1{
    font-family: 'largest';
    transform: rotate(-7deg);
    background-color: white;
    display: inline-block;
    padding:.5rem 2rem;
    font-size: 2.1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.spotify_p2{
    font-family: 'largest';
    color: white;
    transform: rotate(-3deg);
    background-color: rgb(219, 101, 10);
    display: inline-block;
    padding:.5rem 2.2rem;
    font-size: 2.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.spotify_textYflecha{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 8rem;
}
.spotify_textYflecha img{
    width: 8rem;
    transform: rotate(-25deg);
    margin-left: 10rem;
}
.spotify_textYflecha p{
    transform: rotate(-3deg);
    font-size: 1.4rem;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    color: white;
    font-weight: 800;
   
}
.yokaners{
padding-top: 8rem;
display: flex;
flex-direction: column;
align-items: center;

}
.yokaners p{
    margin-top: 3rem;
    text-align: center;
    font-size: 1.4rem;
}
.yokaners_title{
    font-size: 2rem;
    font-family: 'largest';
    transform: rotate(2deg);
    background-color: white;
    display: inline-block;
    padding:.5rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}
.span{

    font-weight: 800;
}
.yokaners img{
    width: 20%;
    margin-bottom: 1rem;
}
.boton_container{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.boton{
    padding:.8rem 2.8rem;
    background-color: rgb(255, 0, 76);
    display: inline-block;
    border-radius: 30px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.tour{
    margin-top: 10rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tour img{
    width: 60%;
    margin-bottom: 3rem;
}
.tour-item{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding:.9rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
    margin-bottom: 2rem;
}
.tour-item p{
    font-size: 1.2rem;
}
.tour-item1{
    transform: rotate(-1deg);

}
.tour-item2{
    transform: rotate(1deg);

} 


/*INSTAGRAM*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$carousel-duration: 27s;
$carousel-items: 7;
$slide-change-timing: 3;
$carousel-delay-fraction: $carousel-duration / $carousel-items;
$carousel-steps-fraction: 100 / $carousel-items;
$carousel-easing: cubic-bezier(0.37, 0, 0.63, 1);

@keyframes carousel-animate {
	0% {
		visibility: hidden;
		opacity: 0;
		transform: translateX(200%) scale(0.7);
	}
	#{$slide-change-timing}%,
	#{$carousel-steps-fraction}% {
		visibility: visible;
		opacity: 0.8;
		transform: translateX(100%) scale(0.9);
	}
	#{$carousel-steps-fraction + $slide-change-timing}%,
	#{$carousel-steps-fraction * 2}% {
		visibility: visible;
		opacity: 1;
		transform: translateX(0) scale(1);
	}
	#{($carousel-steps-fraction * 2) + $slide-change-timing}%,
	#{$carousel-steps-fraction * 3}% {
		visibility: visible;
		opacity: 0.8;
		transform: translateX(-100%) scale(0.9);
	}
	#{($carousel-steps-fraction * 3) + $slide-change-timing}% {
		visibility: visible;
		opacity: 0;
		transform: translateX(-200%) scale(0.9);
	}
	100% {
		visibility: hidden;
		opacity: 0;
		transform: translateX(-200%) scale(0.7);
	}
}

:root {
	--light: 0;
	--light: 0;
	--max-width-post: 420px;

	--primary: hsl(
		calc(64 + 220 * var(--light)),
		calc(77% - 7% * var(--light)),
		calc(79% - 56% * var(--light))
	);

	--bg: hsl(
		calc(284 - 220 * var(--light)),
		calc(70% + 7% * var(--light)),
		calc(23% + 56% * var(--light))
	);

	--text-primary: hsl(
		calc(60 * var(--light)),
		calc(19% * var(--light)),
		calc(97% - 89% * var(--light))
	);

	--font-size-sm: clamp(0.7rem, 0.91vw + 0.47rem, 1.2rem);
	--font-size-base: clamp(0.88rem, 1.14vw + 0.59rem, 1.5rem);
	--font-size-md: clamp(1.09rem, 1.42vw + 0.74rem, 1.88rem);
	--font-size-lg: clamp(1.37rem, 1.78vw + 0.92rem, 2.34rem);
	--font-size-xl: clamp(1.71rem, 2.22vw + 1.15rem, 2.93rem);
	--font-size-xxl: clamp(2.14rem, 2.77vw + 1.44rem, 3.66rem);
	--font-size-xxxl: clamp(2.67rem, 3.47vw + 1.8rem, 4.58rem);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}


.container {
	--container-padding-horizontal: 32px;
	position: relative;
	padding-inline: var(--container-padding-horizontal);
	display: grid;
	place-items: center;
	height: 100%;
}

.carousel {
	pointer-events: none;
	position: absolute;
	padding-block-start: 67px;
	padding-block-end: max(24px, calc(29px + var(--font-size-md)));
	perspective: 100px;
	width: 100%;
	@media (max-width: 568px) {
		padding-block-end: 52px;
	}
	&__wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		height: 61.2vh;
	}
	.item {
		position: absolute;
		max-width: 418px;
		height: 100%;
		margin-inline: var(--container-padding-horizontal);
		opacity: 0;
		will-change: transform, opacity;
		animation: carousel-animate $carousel-duration $carousel-easing infinite;
		@media (max-width: 568px) {
			margin-inline: calc(var(--container-padding-horizontal) + 1px);
		}
		@for $i from 1 through ($carousel-items - 1) {
			&:nth-child(#{$i}) {
				animation-delay: calc(#{$carousel-delay-fraction} * #{$i - 2});
			}
		}
		&:last-child {
			animation-delay: calc(-#{$carousel-delay-fraction} * 2);
		}
	}
	img {
		max-width: 100%;
		object-fit: cover;
		height: 100%;
	}
}

.instagram {
	--pading-horizontal: 16px;
	--border: 1px solid black;
	max-width: var(--max-width-post);
	width: 100%;
	border: var(--border);
	border-radius: 20px;
	&__header {
		padding-block: 12px;
		border-bottom: var(--border);
		figure {
			padding-block: 0;
			padding-inline: var(--pading-horizontal);
			margin: 0;
			display: flex;
			align-items: center;
			img {
				border-radius: 50%;
				object-fit: cover;
				border: var(--border);
				margin-inline-end: 8px;
			}
		}
	}
	&__media {
		display: flex;
		border-bottom: var(--border);
		.img {
			max-width: 100%;
			height: 61.2vh;
		}
	}
	&__buttons {
		padding-block: 12px;
		padding-inline: var(--pading-horizontal);
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left {
			display: flex;
			align-items: center;
			svg:nth-of-type(2) {
				margin-inline: 12px;
			}
		}
	}
	&__icon {
		cursor: pointer;
		width: 1em;
		height: 1em;
		font-size: var(--font-size-md);
		min-width: 24px;
		min-height: 24px;
		&:hover {
			opacity: 0.7;
		}
		path {
			stroke: black;
			stroke-linejoin: round;
		}
		&--comment path {
			stroke-width: 2;
		}
		&--message {
			margin-block-start: 3px;
			path {
				stroke-width: 2;
			}
		}
		&--saved path {
			stroke-width: 2;
		}
	}
}

/*PRUEBAS*/

video{
    width: 100%;
}

footer{
    background-color: black;
    padding: 2rem;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img{
        width: 10%;
    }
    .redes{
        display: flex;
        justify-content: space-between;
        width: 13%;
        align-items: center;
        svg{
        width: 2.5rem;
        }

    }
    p{
        color: white;
    }
}
    
/*Nosotros*/
.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 8rem;

    .nosotros_container1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .img1{
            width: 22rem;
        }
    }
        .texto{
             border: solid 1px;
            background-color: white;
            border-radius: 30px;
            padding: 4rem;
            width: 60%;
            margin-top: 3rem;
        }
       
        p{
           
            text-align: center;
            font-size: 1.4rem;
            
        }
        .img2{
            width: 27rem;
        }

    
}
/*MENU RESPONSIVE*/

.menu-hamburguesa {
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}

.menu-hamburguesa span {
    display: block;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
}

.menu-hamburguesa span:first-child {
    width: 20px;
}

.menu-hamburguesa span:nth-child(2),
.menu-hamburguesa span:nth-child(3) {
    width: 30px;
}

.menuresp {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    left: 0;
    width: 82%;
    bottom: auto;
    border: #e1e1e1 solid 1px;
    margin-left: 2rem;
}

.menuresp ul {
    list-style-type: none;
    
}
.liresp{
    border-bottom: #e1e1e1 solid 1px;
}

.menuresp ul li {
    padding: 13px 20px;
}

.menuresp ul li a {
    text-decoration: none;
    color: #333;
}

/* Efecto de Cruz */
.menu-hamburguesa.open span:first-child {
    transform: rotate(45deg) translate(5px, 10px);
    width: 30px;
    background-color: #c26148;
}

.menu-hamburguesa.open span:nth-child(2) {
    opacity: 0;
}

.menu-hamburguesa.open span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -8px);
    background-color: #c26148;
}

/* Mostrar menú al hacer click */
.menu-hamburguesa.open + .menuresp {
    display: block;
}

.responsive_hamburguesa{
    display: none;
  }



/*RESPONSIVE*/

@media screen and (max-width: 1300px) {
      /*Portada*/
  

    .portada{
        background-position:center;
        // height: 100vh;
        // padding-top: 2rem;
        height:90vh;
    }
    video{
       display: none;
    }
        /*Instagram*/
        .container{
            overflow: hidden;
        }
    .menu-itemContainer {
        width: 8rem;
    }
    .spotify_div, .spotify_text {
        width: 100%;
        padding: 1.5rem;
    }
    .novedades_carousel, .tour img {
        width: 90%;
    }
    
}

@media screen and (max-width: 810px) {
    *{font-size: 14px;}
    /*cursor*/
    .cursor {
        display: none;
    }
    /*Menu*/
    .menu{
        background-color: rgb(255, 255, 255);
        padding: 20px 30px;
        display: flex;
        align-items: center;
        max-width: 90%;
        border: solid 1px;
        border-radius: 10rem;
        margin: auto;
    
    }
    .menu-itemContainer{
        display: none;
    }
    .responsive_hamburguesa{
      display: block;
    }
  
    .menu-item img{
        width: 30%;
    }

    /*portada*/
    .portada {
        background-position: 47%;
        height: 80vh;
    }
    /*novedades*/
    .novedades{
        padding: 3rem 0;
    }
    .novedades_title {
        margin-left: 1rem;
        font-size: 1.6rem;
    }
    .novedades_carousel {
        height: 40vh;
    }

    /*nosotros*/
    .nosotros{
        .nosotros_container1{
            margin-top: 2rem;
            .img1{
                width: 14rem;
            }   
            .img2{
                width: 16rem;
            }   
        }
        .texto{
            padding: 2rem;
        }
        p{
            font-size: 1.2rem;
        }

    } 
    /*Playlist*/
    .spotify_section {
        flex-direction: column;
        .spotify_textYflecha{
            margin-top: 4rem;
            img{
                display: none;
            }
        }
    }


    /*Tour*/
    .tour-item {
        width: 80%;
    }

    /*footer*/
    footer {
        padding-top: 2rem;
        flex-direction: column;
        .redes{
            width: 25%;
        }
        p{
            padding-top: 2rem;
        }
        img {
            width: 30%;
        }
      }

    
}

@media screen and (max-width: 480px) {
    *{font-size: 12px;}
  .menu-item img{
        width: 60%;
    }
    /*nosotros*/
    .nosotros{
        .nosotros_container1{
            .img1{
                width: 11rem;
            }   
            .img2{
                width: 13rem;
            }   
        }
    }

}